In [132]:
import pandas as pd
import numpy as np
import seaborn as sb

soccer = pd.read_csv("https://sports-statistics.com/database/soccer-data/england-premier-league-2005-to-2006.csv")
for i in range(2006,2020):
    soccer = soccer.loc[:,'Div':'AR']
    start = str(i)
    stop = str(i+1)
    link = "https://sports-statistics.com/database/soccer-data/england-premier-league-"+start+"-to-"+stop+".csv"
    print("Downloading data from ", link)
    df = pd.read_csv(link)
    df = df.loc[:,'Div':'AR']
    current = soccer
    soccer = pd.concat([current,df], axis=0)
    
    

soccer

Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2006-to-2007.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2007-to-2008.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2008-to-2009.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2009-to-2010.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2010-to-2011.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2011-to-2012.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2012-to-2013.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2013-to-2014.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2014-to-2015.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2015-to-2016.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2016-to-2017.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2017-to-2018.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2018-to-2019.csv
Downloading data from  https://sports-statistics.com/database/soccer-data/england-premier-league-2019-to-2020.csv

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AST,HF,AF,HC,AC,HY,AY,HR,AR,Time
0,E0,13/08/05,Aston Villa,Bolton,2.0,2.0,D,2.0,2.0,D,...,6.0,14.0,16.0,7.0,8.0,0.0,2.0,0.0,0.0,NaN
1,E0,13/08/05,Everton,Man United,0.0,2.0,A,0.0,1.0,A,...,5.0,15.0,14.0,8.0,6.0,3.0,1.0,0.0,0.0,NaN
2,E0,13/08/05,Fulham,Birmingham,0.0,0.0,D,0.0,0.0,D,...,4.0,12.0,13.0,6.0,6.0,1.0,2.0,0.0,0.0,NaN
3,E0,13/08/05,Man City,West Brom,0.0,0.0,D,0.0,0.0,D,...,3.0,13.0,11.0,3.0,6.0,2.0,3.0,0.0,0.0,NaN
4,E0,13/08/05,Middlesbrough,Liverpool,0.0,0.0,D,0.0,0.0,D,...,7.0,17.0,11.0,5.0,0.0,2.0,3.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,E0,01/01/2020,Watford,Wolves,2.0,1.0,H,1.0,0.0,H,...,4.0,12.0,6.0,4.0,7.0,3.0,1.0,1.0,0.0,15:00
204,E0,01/01/2020,Man City,Everton,2.0,1.0,H,0.0,0.0,D,...,2.0,11.0,11.0,3.0,6.0,0.0,4.0,0.0,0.0,17:30
205,E0,01/01/2020,Norwich,Crystal Palace,1.0,1.0,D,1.0,0.0,H,...,3.0,12.0,9.0,2.0,5.0,5.0,0.0,0.0,0.0,17:30
206,E0,01/01/2020,West Ham,Bournemouth,4.0,0.0,H,3.0,0.0,H,...,2.0,3.0,12.0,9.0,2.0,1.0,2.0,0.0,0.0,17:30
207,E0,01/01/2020,Arsenal,Man United,2.0,0.0,H,2.0,0.0,H,...,4.0,11.0,15.0,1.0,4.0,2.0,0.0,0.0,0.0,20:00

In [133]:
print(soccer.isna().sum())

Div            1
Date           1
HomeTeam       1
AwayTeam       1
FTHG           1
FTAG           1
FTR            1
HTHG           1
HTAG           1
HTR            1
Referee        1
HS             1
AS             1
HST            1
AST            1
HF             1
AF             1
HC             1
AC             1
HY             1
AY             1
HR             1
AR             1
Time        5321
dtype: int64

In [134]:
soccer.drop(['Time'], axis = 1, inplace = True)
soccer.dropna(how = 'all', inplace = True)
print(soccer.isna().sum())

Div         0
Date        0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HF          0
AF          0
HC          0
AC          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

In [135]:
soccer

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,13/08/05,Aston Villa,Bolton,2.0,2.0,D,2.0,2.0,D,...,2.0,6.0,14.0,16.0,7.0,8.0,0.0,2.0,0.0,0.0
1,E0,13/08/05,Everton,Man United,0.0,2.0,A,0.0,1.0,A,...,5.0,5.0,15.0,14.0,8.0,6.0,3.0,1.0,0.0,0.0
2,E0,13/08/05,Fulham,Birmingham,0.0,0.0,D,0.0,0.0,D,...,7.0,4.0,12.0,13.0,6.0,6.0,1.0,2.0,0.0,0.0
3,E0,13/08/05,Man City,West Brom,0.0,0.0,D,0.0,0.0,D,...,8.0,3.0,13.0,11.0,3.0,6.0,2.0,3.0,0.0,0.0
4,E0,13/08/05,Middlesbrough,Liverpool,0.0,0.0,D,0.0,0.0,D,...,2.0,7.0,17.0,11.0,5.0,0.0,2.0,3.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,E0,01/01/2020,Watford,Wolves,2.0,1.0,H,1.0,0.0,H,...,3.0,4.0,12.0,6.0,4.0,7.0,3.0,1.0,1.0,0.0
204,E0,01/01/2020,Man City,Everton,2.0,1.0,H,0.0,0.0,D,...,7.0,2.0,11.0,11.0,3.0,6.0,0.0,4.0,0.0,0.0
205,E0,01/01/2020,Norwich,Crystal Palace,1.0,1.0,D,1.0,0.0,H,...,4.0,3.0,12.0,9.0,2.0,5.0,5.0,0.0,0.0,0.0
206,E0,01/01/2020,West Ham,Bournemouth,4.0,0.0,H,3.0,0.0,H,...,7.0,2.0,3.0,12.0,9.0,2.0,1.0,2.0,0.0,0.0
207,E0,01/01/2020,Arsenal,Man United,2.0,0.0,H,2.0,0.0,H,...,4.0,4.0,11.0,15.0,1.0,4.0,2.0,0.0,0.0,0.0

In [136]:
soccer = pd.get_dummies(soccer, columns = ['FTR','HTR'])
soccer

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,Referee,HS,...,HY,AY,HR,AR,FTR_A,FTR_D,FTR_H,HTR_A,HTR_D,HTR_H
0,E0,13/08/05,Aston Villa,Bolton,2.0,2.0,2.0,2.0,M Riley,3.0,...,0.0,2.0,0.0,0.0,0,1,0,0,1,0
1,E0,13/08/05,Everton,Man United,0.0,2.0,0.0,1.0,G Poll,10.0,...,3.0,1.0,0.0,0.0,1,0,0,1,0,0
2,E0,13/08/05,Fulham,Birmingham,0.0,0.0,0.0,0.0,R Styles,15.0,...,1.0,2.0,0.0,0.0,0,1,0,0,1,0
3,E0,13/08/05,Man City,West Brom,0.0,0.0,0.0,0.0,C Foy,15.0,...,2.0,3.0,0.0,0.0,0,1,0,0,1,0
4,E0,13/08/05,Middlesbrough,Liverpool,0.0,0.0,0.0,0.0,M Halsey,4.0,...,2.0,3.0,1.0,0.0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,E0,01/01/2020,Watford,Wolves,2.0,1.0,1.0,0.0,A Madley,9.0,...,3.0,1.0,1.0,0.0,0,0,1,0,0,1
204,E0,01/01/2020,Man City,Everton,2.0,1.0,0.0,0.0,A Marriner,16.0,...,0.0,4.0,0.0,0.0,0,0,1,0,1,0
205,E0,01/01/2020,Norwich,Crystal Palace,1.0,1.0,1.0,0.0,J Moss,15.0,...,5.0,0.0,0.0,0.0,0,1,0,0,0,1
206,E0,01/01/2020,West Ham,Bournemouth,4.0,0.0,3.0,0.0,G Scott,14.0,...,1.0,2.0,0.0,0.0,0,0,1,0,0,1
207,E0,01/01/2020,Arsenal,Man United,2.0,0.0,2.0,0.0,C Kavanagh,10.0,...,2.0,0.0,0.0,0.0,0,0,1,0,0,1

In [145]:
grouped = soccer.groupby(['Referee','HomeTeam'])
ref_game_dat = grouped['FTR_H'].agg([('HomeTeam_Wins','sum')])
ref_game_dat['HomeTeam_Losses'] = grouped['FTR_A'].agg(['sum'])['sum']
ref_game_dat['HomeTeam_Draw'] = grouped['FTR_D'].agg(['sum'])['sum']
ref_game_dat['Total_Games'] = grouped['FTR_H'].agg(['count'])
ref_game_dat

                           HomeTeam_Wins  HomeTeam_Losses  HomeTeam_Draw  \
Referee  HomeTeam
A D'Urso Fulham                        0                0              1
A Madley Brighton                      2                0              0
         Leicester                     0                0              1
         Norwich                       0                1              0
         Sheffield United              0                1              0
...                                  ...              ...            ...
U Rennie Watford                       0                1              1
         West Brom                     0                1              0
         West Ham                      1                1              1
         Wigan                         0                1              1
l Mason  Leicester                     0                0              1

                           Total_Games
Referee  HomeTeam
A D'Urso Fulham                      1
A Madley Brighton                    2
         Leicester                   1
         Norwich                     1
         Sheffield United            1
...                                ...
U Rennie Watford                     2
         West Brom                   1
         West Ham                    3
         Wigan                       2
l Mason  Leicester                   1

[968 rows x 4 columns]

In [149]:
ref_game_dat.index

MultiIndex([(  'A D'Urso',           'Fulham'),
            (  'A Madley',         'Brighton'),
            (  'A Madley',        'Leicester'),
            (  'A Madley',          'Norwich'),
            (  'A Madley', 'Sheffield United'),
            (  'A Madley',      'Southampton'),
            (  'A Madley',          'Watford'),
            ('A Marriner',          'Arsenal'),
            ('A Marriner',        'Blackburn'),
            ('A Marriner',        'Blackpool'),
            ...
            (  'U Rennie',        'Newcastle'),
            (  'U Rennie',       'Portsmouth'),
            (  'U Rennie',          'Reading'),
            (  'U Rennie',       'Sunderland'),
            (  'U Rennie',        'Tottenham'),
            (  'U Rennie',          'Watford'),
            (  'U Rennie',        'West Brom'),
            (  'U Rennie',         'West Ham'),
            (  'U Rennie',            'Wigan'),
            (   'l Mason',        'Leicester')],
           names=['Referee', 'HomeTeam'], length=968)

In [150]:
filtered_dat = ref_game_dat[dat['Total_Games']>=10]
filtered_dat

                           HomeTeam_Wins  HomeTeam_Losses  HomeTeam_Draw  \
Referee    HomeTeam
A Marriner Arsenal                    13                5              3
           Chelsea                     8                3              4
           Crystal Palace              3                4              3
           Everton                    10                4              6
           Fulham                      4                6              2
...                                  ...              ...            ...
P Walton   Bolton                      4                5              1
           Everton                     9                1              2
           Liverpool                   8                1              3
S Bennett  Arsenal                     8                0              3
           Newcastle                   4                3              3

                           Total_Games
Referee    HomeTeam
A Marriner Arsenal                  21
           Chelsea                  15
           Crystal Palace           10
           Everton                  20
           Fulham                   12
...                                ...
P Walton   Bolton                   10
           Everton                  12
           Liverpool                12
S Bennett  Arsenal                  11
           Newcastle                10

[190 rows x 4 columns]

In [151]:
filtered_dat.index

MultiIndex([('A Marriner',        'Arsenal'),
            ('A Marriner',        'Chelsea'),
            ('A Marriner', 'Crystal Palace'),
            ('A Marriner',        'Everton'),
            ('A Marriner',         'Fulham'),
            ('A Marriner',      'Liverpool'),
            ('A Marriner',       'Man City'),
            ('A Marriner',     'Man United'),
            ('A Marriner',      'Newcastle'),
            ('A Marriner',    'Southampton'),
            ...
            (    'P Dowd',     'Man United'),
            (    'P Dowd',      'Tottenham'),
            (    'P Dowd',      'West Brom'),
            (    'P Dowd',       'West Ham'),
            (    'P Dowd',          'Wigan'),
            (  'P Walton',         'Bolton'),
            (  'P Walton',        'Everton'),
            (  'P Walton',      'Liverpool'),
            ( 'S Bennett',        'Arsenal'),
            ( 'S Bennett',      'Newcastle')],
           names=['Referee', 'HomeTeam'], length=190)

In [152]:
filtered_dat.loc['A Marriner']

                HomeTeam_Wins  HomeTeam_Losses  HomeTeam_Draw  Total_Games
HomeTeam
Arsenal                    13                5              3           21
Chelsea                     8                3              4           15
Crystal Palace              3                4              3           10
Everton                    10                4              6           20
Fulham                      4                6              2           12
Liverpool                  11                1              7           19
Man City                   14                2              1           17
Man United                  8                2              2           12
Newcastle                   7               10              4           21
Southampton                 4                3              3           10
Stoke                       3                6              2           11
Sunderland                  3                3              6           12
Tottenham                  14                3              3           20
West Ham                    3                8              5           16
Wigan                       4                2              5           11

In [158]:
grouped = soccer.groupby(['HomeTeam'])
team_data = grouped['FTR_H'].agg([('Wins','sum')])
team_data['Losses'] = grouped['FTR_A'].agg(['sum'])['sum']
team_data['Draws'] = grouped['FTR_D'].agg(['sum'])['sum']
team_data['Total_Games'] = grouped['FTR_H'].agg(['count'])
team_data['Win_Percentage'] = round(team_data['Wins']/team_data['Total_Games']*100,2)
team_data

                  Wins  Losses  Draws  Total_Games  Win_Percentage
HomeTeam
Arsenal            184      33     60          277           66.43
Aston Villa         72      78     69          219           32.88
Birmingham          26      20     30           76           34.21
Blackburn           59      40     34          133           44.36
Blackpool            5       9      5           19           26.32
Bolton              54      44     35          133           40.60
Bournemouth         31      32     23           86           36.05
Brighton            17      15     17           49           34.69
Burnley             40      44     22          106           37.74
Cardiff             11      20      7           38           28.95
Charlton            15      14      9           38           39.47
Chelsea            187      28     61          276           67.75
Crystal Palace      42      58     24          124           33.87
Derby                1      13      5           19            5.26
Everton            144      63     69          276           52.17
Fulham              83      66     41          190           43.68
Huddersfield         8      22      8           38           21.05
Hull                29      42     24           95           30.53
Leicester           51      28     26          105           48.57
Liverpool          178      28     70          276           64.49
Man City           191      46     40          277           68.95
Man United         199      31     46          276           72.10
Middlesbrough       33      34     28           95           34.74
Newcastle           99      78     62          239           41.42
Norwich             29      31     27           87           33.33
Portsmouth          36      33     26           95           37.89
QPR                 15      24     18           57           26.32
Reading             23      22     12           57           40.35
Sheffield United    11      10      8           29           37.93
Southampton         54      47     43          144           37.50
Stoke               81      55     54          190           42.63
Sunderland          62      88     59          209           29.67
Swansea             51      45     37          133           38.35
Tottenham          168      49     59          276           60.87
Watford             35      39     32          106           33.02
West Brom           65      78     47          190           34.21
West Ham           105      93     59          257           40.86
Wigan               48      59     45          152           31.58
Wolves              30      35     21           86           34.88